{% extends 'admin_theme/base.html' %}
{% load static %}

{% block content %}
 <main class="nxl-container">
        <div class="nxl-content">
            <!-- [ Main Content ] start -->
            <div class="main-content">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card stretch stretch-full">
                            <div class="card-body">
                              <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="mb-4">
                                            <label class="form-label">category_name <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" name="category_name" value="{{ category.category_name|default:'' }}">
                                        </div>

                                        <div class="mb-4">
                                            <label class="form-label">slug<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" name="slug" value="{{ category.slug|default:'' }}">
                                        </div>

                                        <div class="mb-4">
                                            <label class="form-label">description</label>
                                            <input type="text" class="form-control" name="description" value="{{ category.description|default:'' }}">
                                        </div>

                                        <div class="mb-4">
                                            <label class="form-label">cat_image</label>
                                            <input type="file" class="form-control" name="cat_image">
                                        </div>

                                        <div class="mb-4">
                                            <label class="form-label">parent</label>
                                            <select class="form-control" name="parent">
                                                <option value="">None</option>
                                                {% for cat in categories %}
                                                    <option value="{{ cat.id }}" {% if category.parent.id == cat.id %}selected{% endif %}>{{ cat.category_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Save Category</button>
                                    </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </main>
{% endblock %}

