
{% load static %}
<style >
    .header-profile-menu {
        position: relative;
        display: inline-block;
    }

    .header-profile-menu .profile-trigger {
        color: #fff;
        font-weight: 500;
        padding: 5px 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .header-profile-menu i {
        font-size: 18px;
        margin-right: 5px;
    }

    .profile-dropdown {
        position: absolute;
        right: 0;
        top: 120%;
        min-width: 200px;
        background: #fff;
        color: #000;
        border-radius: 6px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
        display: none;
        z-index: 999;
    }

    .profile-dropdown li {
        list-style: none;
        border-bottom: 1px solid #eee;
    }

    .profile-dropdown li:last-child {
        border-bottom: none;
    }

    .profile-dropdown li a,
    .profile-dropdown li button {
        display: block;
        padding: 10px 15px;
        color: #333;
        text-decoration: none;
        width: 100%;
        text-align: left;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 14px;
    }

    .profile-dropdown li a:hover,
    .profile-dropdown li button:hover {
        background: #f5f5f5;
    }

    .profile-info {
        padding: 12px 15px;
        border-bottom: 1px solid #eaeaea;
        background: #fafafa;
    }

    .header-profile-menu:hover .profile-dropdown {
        display: block;
    }

    .customer-links .greeting {
        display: none !important;
    }

    .my-cart-style i {
    font-size: 22px;  
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
<div class="pageWrapper">
	<!--Search Form Drawer-->
	<div class="search">
        <div class="search__form">
            <form class="search-bar__form" action="{% url 'search_products' %}" method="GET">
                <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
                <input class="search__input" type="search" name="q" value="{{ request.GET.q }}" placeholder="Search entire store..." aria-label="Search" autocomplete="off">
            </form>
            <button type="button" class="search-trigger close-btn"><i class="anm anm-times-l"></i></button>
        </div>
    </div>
    <!--End Search Form Drawer-->
    <!--Top Header-->
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
            	<div class="col-10 col-sm-8 col-md-5 col-lg-4">
                    <p class="phone-no"><i class="anm anm-phone-s"></i> +91 9667006467</p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
                	<div class="text-center"><p class="top-header_middle-text"> Worldwide Express Shipping</p></div>
                </div>
                <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                	<span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
                    {% comment %} <ul class="customer-links list-inline">
                  {% if user.is_authenticated %}
                  <li class="greeting">Hi, {{ user.first_name }}</li>
                  <li>
                    <form method="post" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button type="submit" class="btn-logout">Logout</button>
                    </form>
                  </li>
                  {% else %}
                  <li><a href="{% url 'login' %}">Login</a></li>
                  <li><a href="{% url 'register' %}">Create Account</a></li>
                  {% endif %}
                  <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                  <li class="nav-item">
                <a class="nav-link" href="{% url 'my_orders' %}">My Orders</a>
            </li>

                    </ul> {% endcomment %}

                     <ul class="customer-links list-inline">

                        {% if user.is_authenticated %}
                        
                        <!-- NEW PROFILE DROPDOWN ADDED HERE -->
                        <li class="header-profile-menu">
                            <span class="profile-trigger">
                                <i class="anm anm-user-al"></i> {{ user.first_name }}
                            </span>

                            <ul class="profile-dropdown">
                                <li class="profile-info">
                                    <strong>{{ user.first_name }} {{ user.last_name }}</strong><br>
                                    <small>{{ user.email }}</small>
                                </li>

                                <li><a href="{% url 'my_orders' %}">My Orders</a></li>
                                <li><a href="{% url 'wishlist' %}">Wishlist</a></li>

                                <li>
                                    <form method="post" action="{% url 'logout' %}">
                                        {% csrf_token %}
                                        <button type="submit">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </li>

                        {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Create Account</a></li>
                        {% endif %}
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End Top Header-->
    <!--Header-->
    {% url 'home' as home_url %}
    <div class="header-wrap {% if request.path == home_url %}classicHeader{% endif %} animated d-flex">    	<div class="container-fluid">        
            <div class="row align-items-center">
            	<!--Desktop Logo-->
                <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                    <a href="{% url 'home' %}">
                    	<img src="{% static 'user_theme/images/orana-logo.png' %}" alt="Orana logo" title="Orana logo" />
                    </a>
                </div>
                <!--End Desktop Logo-->
                <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                	<div class="d-block d-lg-none">
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                        	<i class="icon anm anm-times-l"></i>
                            <i class="anm anm-bars-r"></i>
                        </button>
                    </div>
                	<!--Desktop Menu-->
                	<nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
                        <ul id="siteNav" class="site-nav medium center hidearrow">
                            <li class="lvl1 parent megamenu"><a href="{% url 'home' %}">Home <i class="anm anm-angle-down-l"></i></a>
                            </li>
                            <!-- Categories loop -->
                                {% for category in top_categories %}
                                    <li class="lvl1 parent dropdown">
                                  <a href="{% url 'category_products' category.slug %}">
                                          {{ category.category_name }}
                                      </a>                                        {% if category.subcategories.all %}
                                        <ul class="dropdown">
                                            {% for subcat in category.subcategories.all %}
                                            <li>
                                                <a href="{% url 'category_products' subcat.slug %}">{{ subcat.category_name }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                      </ul>
                    </nav>
                    <!--End Desktop Menu-->
                </div>
                <!--Mobile Logo-->
                <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                	<div class="logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'user_theme/images/orana-logo.png' %}" alt="Orana logo" title="Orana logo" />
                        </a>
                    </div>
                </div>
                <!--Mobile Logo-->
                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                        <div class="site-cart">
                          <a href="{% url 'cart_view' %}" class="cart-icon my-cart-style" title="Cart">
                              <i class="icon anm anm-bag-l"></i>
                          </a>
                      </div>
                    <div class="site-header__search">
                    	<button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                    </div>
                </div>
        	</div>
        </div>
    </div>
    <!--End Header-->
    <!--Mobile Menu-->
    <div class="mobile-nav-wrapper" role="navigation">
		<div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
        <ul id="MobileNav" class="mobile-nav">
        	<li class="lvl1 parent megamenu"><a href="{% url 'home' %}">Home</a>
        </li>
        {% for category in top_categories %}
        <li class="lvl1 parent megamenu">
            <a href="{% url 'category_products' category.slug %}">{{ category.category_name }} <i class="anm anm-plus-l"></i></a>
            {% if category.subcategories.all %}
            <ul>
                {% for subcat in category.subcategories.all %}
                <li><a href="{% url 'category_products' subcat.slug %}" class="site-nav">{{ subcat.category_name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
      </ul>
	</div>
	<!--End Mobile Menu-->
    

