{% extends 'user_theme/base.html' %}

{% load static %}

{% block title %}Create Account - Belle E-commerce{% endblock %}

{% block content %}
<div id="page-content" style="padding-top:60px;">
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Create an Account</h1></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                <div class="mb-4">
                    <form method="post" action="{% url 'register' %}" accept-charset="UTF-8" class="contact-form">	
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="FirstName">First Name</label>
                                    <input type="text" name="first_name" id="FirstName" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="LastName">Last Name</label>
                                    <input type="text" name="last_name" id="LastName" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="CustomerEmail">Email</label>
                                    <input type="email" name="email" id="CustomerEmail" class="form-control" required>
                                </div>
                            </div>
                            {% comment %} <div class="col-12">
                                <div class="form-group">
                                    <label for="CustomerPassword">Password</label>
                                    <input type="password" name="password" id="CustomerPassword" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="ConfirmPassword">Confirm Password</label>
                                    <input type="password" name="confirm_password" id="ConfirmPassword" class="form-control" required>
                                </div>
                            </div> {% endcomment %}
                        </div>

                        <div class="row">
                            <div class="text-center col-12">
                                <input type="submit" class="btn mb-3" value="Create">
                            </div>
                        </div>
                    </form>

                    {% comment %} {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %} {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
