{% extends 'user_theme/base.html' %}

{% load static %}

{% block title %}Home - Belle E-commerce{% endblock %}

{% block content %}
 <!--Body Content-->
    <div id="page-content" style="padding-top:60px">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Shopping Cart</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col">
                	<div class="alert alert-success text-uppercase" role="alert">
						<i class="icon anm anm-truck-l icon-large"></i> &nbsp;<strong>Congratulations!</strong> You've got free shipping!
					</div>
                	<form action="#" method="post" class="cart style2">
                		<table>
                            <thead class="cart__row cart__header">
                                <tr>
                                    <th colspan="2" class="text-center">Product</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-right">Total</th>
                                    <th class="action">&nbsp;</th>
                                </tr>
                            </thead>
                    		{% comment %} <tbody>
                                <tr class="cart__row border-bottom line1 cart-flex border-top">
                                    <td class="cart__image-wrapper cart-flex-item">
                                        <a href="#"><img class="cart__image" src="assets/images/product-images/product-image30.jpg" alt="Elastic Waist Dress - Navy / Small"></a>
                                    </td>
                                    <td class="cart__meta small--text-left cart-flex-item">
                                        <div class="list-view-item__title">
                                            <a href="#">Elastic Waist Dress </a>
                                        </div>
                                        
                                        <div class="cart__meta-text">
                                            Color: Navy<br>Size: Small<br>
                                        </div>
                                    </td>
                                    <td class="cart__price-wrapper cart-flex-item">
                                        <span class="money">$735.00</span>
                                    </td>
                                    <td class="cart__update-wrapper cart-flex-item text-right">
                                        <div class="cart__qty text-center">
                                            <div class="qtyField">
                                                <a class="qtyBtn minus" href="javascript:void(0);"><i class="icon icon-minus"></i></a>
                                                <input class="cart__qty-input qty" type="text" name="updates[]" id="qty" value="1" pattern="[0-9]*">
                                                <a class="qtyBtn plus" href="javascript:void(0);"><i class="icon icon-plus"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right small--hide cart-price">
                                        <div><span class="money">$735.00</span></div>
                                    </td>
                                    <td class="text-center small--hide"><a href="#" class="btn btn--secondary cart__remove" title="Remove tem"><i class="icon icon anm anm-times-l"></i></a></td>
                                </tr>
                            </tbody> {% endcomment %}
                            <tbody>
    {% for item in cart_items %}
    <tr class="cart__row border-bottom line1 cart-flex border-top">
        <td class="cart__image-wrapper cart-flex-item">
            <a href="{% url 'product_detail' item.product.slug %}">
                <img class="cart__image" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
            </a>
        </td>
        <td class="cart__meta small--text-left cart-flex-item">
            <div class="list-view-item__title">
                <a href="{% url 'product_detail' item.product.slug %}">{{ item.product.name }}</a>
            </div>
        </td>
        <td class="cart__price-wrapper cart-flex-item">
            <span class="money">${{ item.product.price }}</span>
        </td>
        <td class="cart__update-wrapper cart-flex-item text-right">
            <div class="cart__qty text-center">
                <div class="qtyField">
                        <button class="cart-qty-btn minus" data-id="{{ item.product.id }}" type="button">−</button>
                        <input class="cart__qty-input cart-qty-input" type="text" name="quantity" value="{{ item.quantity }}" data-id="{{ item.product.id }}" pattern="[0-9]*" style="width:48px;text-align:center;">
                        <button class="cart-qty-btn plus" data-id="{{ item.product.id }}" type="button">+</button>
                </div>
            </div>
        </td>
        <td class="text-right small--hide cart-price">
            <div><span class="money" id="item-total-{{ item.product.id }}">${{ item.total_price }}</span></div>
        </td>
        <td class="text-center small--hide">
        <a href="#" class="btn btn--secondary cart__remove" data-id="{{ item.product.id }}" title="Remove Item">
        <i class="icon anm anm-times-l"></i>
        </a>
        </td>

    </tr>
    {% empty %}
    <tr>
        <td colspan="6" class="text-center">Your cart is empty.</td>
    </tr>
    {% endfor %}
</tbody>

                    		<tfoot>
                                <tr>
                                    <td colspan="3" class="text-left"><a href="{% url 'home' %}" class="btn btn-secondary btn--small cart-continue">Continue shopping</a></td>
                                </tr>
                            </tfoot>
                    </table> 
                    </form>                   
               	</div>
                
                <!-- Cart Summary -->
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="cart__footer sticky-top">
                        <div class="solid-border p-4 bg-light rounded shadow-sm">
                            <h5 class="mb-3">Order Summary</h5>
                            
                            <div class="row border-bottom pb-2 mb-2">
                                <span class="col-6 cart__subtotal-title">Subtotal</span>
                                <span class="col-6 text-right"><span class="money" id="cart-subtotal">${{ total_price }}</span></span>
                            </div>
                            
                            <div class="row border-bottom pb-2 mb-2">
                                <span class="col-6 cart__subtotal-title">Shipping</span>
                                <span class="col-6 text-right text-success">Free</span>
                            </div>
                            
                            <div class="row border-bottom pb-2 mb-3">
                                <span class="col-6 cart__subtotal-title"><strong>Total</strong></span>
                                <span class="col-6 text-right">
                                    <strong><span class="money" id="cart-grand-total">${{ grand_total }}</span></strong>
                                </span>
                            </div>

                            <a href="{% url 'orders_checkout' %}" id="cartCheckout" class="btn btn-primary w-100 py-2 mb-3">
                                Proceed To Checkout
                            </a>
                            
                            <div class="text-center">
                                <small class="text-muted">
                                    <i class="icon anm anm-shield"></i> Secure Checkout
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>

    <!-- Cart config (URL source for JS) -->
<div id="cart-config"
     data-remove-url="{% url 'remove_from_cart' 0 %}"
     data-update-url="{% url 'update_cart' 0 %}">
</div>


{% endblock %}
