{% extends 'user_theme/base.html' %}

{% load static %}


{% comment %} {% block content %} {% endcomment %}
{% block title %} Wish List - Belle E-commerce{% endblock %}

{% block header_class %}header-inner{% endblock %} 
{% block body_class %}wishlist{% endblock %}
{% block body_class_suffix %}wishlist{% endblock %}

{% block content %}
<!--Body Content-->
    <div id="wishlist-page-content" style="padding-top: 30px;">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Wish List</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                	
                        <div class="wishlist-table table-content table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                    	<th class="product-name text-center alt-font">Remove</th>
                                        <th class="product-price text-center alt-font">Images</th>
                                        <th class="product-name alt-font">Product</th>
                                        <th class="product-price text-center alt-font">Unit Price</th>
                                        <th class="stock-status text-center alt-font">Stock Status</th>
                                        <th class="product-subtotal text-center alt-font">Add to Cart</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in wishlist_items %}
                                <tr>
                                    <td class="product-remove text-center" valign="middle">
                                        <a href="#" class="remove-from-wishlist" 
                                               data-url="{% url 'remove_from_wishlist' item.product.id %}">
                                            <i class="icon icon anm anm-times-l"></i>
                                        </a>
                                    </td>
                                    <td class="product-thumbnail text-center">
                                        <a href="{% url 'product_detail' item.product.slug %}"><img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="70"></a>
                                    </td>
                                    <td class="product-name"><h4 class="no-margin"><a href="{% url 'product_detail' item.product.slug %}">{{ item.product.name }}</a></h4></td>
                                    <td class="product-price text-center"><span class="amount">${{ item.product.price }}</span></td>
                                    <td class="stock text-center">
                                        {% if item.product.stock > 0 %}
                                        <span class="in-stock">In Stock</span>
                                        {% else %}
                                        <span class="out-stock">Out of Stock</span>
                                        {% endif %}
                                    </td>
                                    <td class="product-subtotal text-center">
                                        <form action="{% url 'add_to_cart' item.product.id %}" method="post">
                                                {% csrf_token %}
                                                
                                                <input type="hidden" name="quantity" value="1"> 
                                                
                                                <button type="submit" class="btn btn-small add-to-cart">
                                                    Add To Cart
                                                </button>
                                            </form>
                                    {% comment %} <button type="button" 
                                            class="wishlist add-to-wishlist" 
                                            data-url="{% url 'add_to_wishlist' item.product.id %}">
                                        Add To Wishlist
                                    </button> {% endcomment %}
                                    </td>
                                </tr>
                                {% empty %}
                                <tr><td colspan="6" class="text-center">Your wishlist is empty.</td></tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>                  
               	</div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
{% endblock %}