{% load static %}
<nav class="nxl-navigation">
        <div class="navbar-wrapper">
            <div class="m-header">
                <a href="index.html" class="b-brand">
                    <img src="{% static  'admin_theme/images/logo-full.png' %}" alt="" class="logo logo-lg" />
                    <img src="{% static  'admin_theme/images/logo-abbr.png' %}" alt="" class="logo logo-sm" />
                </a>
            </div>
            <div class="navbar-content">
                <ul class="nxl-navbar">
                    <li class="nxl-item nxl-hasmenu">
                        <a href="{% url 'admin_dashboard' %}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-home"></i></span>
                            <span class="nxl-mtext">Dashboards</span>
                        </a>
                    </li>
                    <li class="nxl-item nxl-hasmenu">
                        <a href="{% url 'admin_product_list' %}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-box"></i></span>
                            <span class="nxl-mtext">Products</span><span class="nxl-arrow"></span>
                        </a>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="{% url 'admin_category_list' %}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-layers"></i></span>
                            <span class="nxl-mtext">Category</span><span class="nxl-arrow"></span>
                        </a>
                    </li>
                    <li class="nxl-item nxl-hasmenu">
                        <a href="{% url 'admin_customer_list' %}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-users"></i></span>
                            <span class="nxl-mtext">Customers</span><span class="nxl-arrow"></span>
                        </a>
                    </li>
                    <li class="nxl-item nxl-hasmenu">
                        <a href="{% url 'admin_order_list' %}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-shopping-cart"></i></span>
                            <span class="nxl-mtext">Orders</span><span class="nxl-arrow"></span>
                        </a>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="{% url 'admin_slider_list' %}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-image"></i></span>
                            <span class="nxl-mtext">Silders</span><span class="nxl-arrow"></span>
                        </a>
                    </li>

                     <li class="nxl-item nxl-hasmenu">
                    <a class="nxl-link" href="{% url 'admin_review_list' %}">
                        <span class="nxl-micon"><i class="feather-star"></i></span>
                        <span class="nxl-mtext">Reviews</span>
                        <span class="nxl-arrow"></span>
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>