{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Belle - E-commerce{% endblock %}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>


<body class="template-index belle">
  <div id="pre-loader">
      <img src="{% static 'images/loader.gif' %}" alt="Loading..." />
  </div>

  <div class="pageWrapper">
      {% include 'includes/navbar.html' %}
      {% block content %}{% endblock %}
      {% include 'includes/footer.html' %}
  </div>

  <!-- JS Files -->
    <!-- JS Files -->
  <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
