{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Belle E-commerce{% endblock %}

{% block content %}
<!--Body Content-->
    <div id="page-content" style="padding-top:60px;">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Wish List</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                	<form action="#">
                        <div class="wishlist-table table-content table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                    	<th class="product-name text-center alt-font">Remove</th>
                                        <th class="product-price text-center alt-font">Images</th>
                                        <th class="product-name alt-font">Product</th>
                                        <th class="product-price text-center alt-font">Unit Price</th>
                                        <th class="stock-status text-center alt-font">Stock Status</th>
                                        <th class="product-subtotal text-center alt-font">Add to Cart</th>
                                    </tr>
                                </thead>
                                {% comment %} <tbody>
                                    <tr>
                                    	<td class="product-remove text-center" valign="middle"><a href="#"><i class="icon icon anm anm-times-l"></i></a></td>
                                        <td class="product-thumbnail text-center">
                                            <a href="#"><img src="assets/images/product-images/product-image8.jpg" alt="" title="" /></a>
                                        </td>
                                        <td class="product-name"><h4 class="no-margin"><a href="#">Minerva Dress black</a></h4></td>
                                        <td class="product-price text-center"><span class="amount">$165.00</span></td>
                                        <td class="stock text-center">
                                            <span class="in-stock">in stock</span>
                                        </td>
                                        <td class="product-subtotal text-center"><button type="button" class="btn btn-small">Add To Cart</button></td>
                                    </tr>
                                </tbody> {% endcomment %}
                                <tbody>
                                {% for item in wishlist_items %}
                                <tr>
                                    <td class="product-remove text-center" valign="middle">
                                        <a href="#" class="remove-from-wishlist" data-id="{{ item.product.id }}">
                                            <i class="icon icon anm anm-times-l"></i>
                                        </a>
                                    </td>
                                    <td class="product-thumbnail text-center">
                                        <a href="#"><img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="70"></a>
                                    </td>
                                    <td class="product-name"><h4 class="no-margin"><a href="#">{{ item.product.name }}</a></h4></td>
                                    <td class="product-price text-center"><span class="amount">${{ item.product.price }}</span></td>
                                    <td class="stock text-center">
                                        {% if item.product.stock > 0 %}
                                        <span class="in-stock">In Stock</span>
                                        {% else %}
                                        <span class="out-stock">Out of Stock</span>
                                        {% endif %}
                                    </td>
                                    <td class="product-subtotal text-center">
                                        <button type="button" class="btn btn-small add-to-cart" data-id="{{ item.product.id }}">Add To Cart</button>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr><td colspan="6" class="text-center">Your wishlist is empty.</td></tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </form>                   
               	</div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    <script>
document.addEventListener("click", async function(e) {
    if (e.target.closest(".remove-from-wishlist")) {
        e.preventDefault();
        const productId = e.target.closest(".remove-from-wishlist").dataset.id;

        const response = await fetch(`/wishlist/remove/${productId}/`);
        const data = await response.json();

        if (data.success) {
            e.target.closest("tr").remove();
        }
    }

    if (e.target.closest(".wishlist.add-to-wishlist")) {
        e.preventDefault();
        const productId = e.target.closest(".wishlist.add-to-wishlist").dataset.id;

        const response = await fetch(`/wishlist/add/${productId}/`);
        const data = await response.json();

        if (data.success) {
            alert("Added to wishlist!");
        }
    }
});
</script>

    {% endblock %}